/*Started Kit for Developer*/
body,
h1,
h2,
h3, 
h4, 
h5, 
h6, 
p, 
ul, 
li{
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}

/** {*/
    /*box-sizing: border-box;*/
/*}*/

button, input {
    outline: none;
    border: none;
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-start {
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-end {
    justify-content: flex-end;
    align-items: flex-end;
}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column-reverse;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}